@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .blockquote::before {
    @apply text-5xl;
    @apply text-indigo-500;
    content: "“";
    position: absolute;
    line-height: 0;
    top: 0px;
    left: 0;
  }

  .blockquote::after {
    @apply text-5xl;
    @apply text-indigo-500;
    content: "”";
    position: absolute;
    line-height: 0;
    bottom: -20px;
    right: 0;
  }
}